#navbar-primary .navbar-nav {
    //  background: #ededed;
    width: 100%;
    text-align: center;
    > li {
        display: inline-block;
        float: none;
        > a {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
